html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

$fullhd: 1140px;
$white-ter: white;
//$navbar-height: 6.25rem;
$navbar-item-img-max-height: 6rem;
$navbar-item-hover-color: black;
$navbar-item-active-color: black;
@import "~bulma";

.navbar-item {
  font-weight: bold;
}

.right {
  direction: rtl;
  .information {
    direction: initial;
    padding-left: 3rem !important;
  }
}

@media (max-width: 770px) {
  .right .information {
    padding-left: 1rem !important;
  }
}
